# <center style="font-size:60px;"> Python Basics </center>

# Table of Contents
1. [Introduction](#introduction)
2. [Basics](#basics)
3. [Casting](#casting)
4. [Functions](#functions)
5. [Python Specific Data Types](#python-specific-data-types)
6. [Control Flow](#control-flow)
7. [Loops](#loops)

# Introduction
- Python is a high-level, interpreted programming language known for its simplicity, readability and versatility.
- Python supports object-oriented, and functional programming. Its extensive standard library and active community make it a popular choice for web development, data analysis, artificial intelligence, scientific computing, and more.

# Basics

## Data structures

In [3]:
runs = 60
overs = 5.2
run_rate = runs/overs # implicit casting
print(run_rate)
print(type(runs))
print(type(overs))
print(type(run_rate))

letter = 'a'
print(type(letter))
batsman = 'Rohit Sharma'
print(type(batsman))

11.538461538461538
<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
<class 'str'>

5 = 0101



0.2 = 0.2 * 2 = 0.4 * 2 = 0.8 * 2 = 1.6 = .6 * 2 = 1.2 = .2 * 2 ....

= 0011 0011 0011

## Casting

In [4]:
float(60), int(5.2), str(60)

(60.0, 5, '60')

## Functions

In [5]:
from datetime import datetime

def book_ticket(location_1, location_2):
  distance = abs(int(location_1) -  int(location_2))
  fare = 100 * distance
  print(f"Ticket booked at {datetime.now()} with {fare} rupees")

book_ticket('1', '2')

Ticket booked at 2025-04-27 18:42:25.822637 with 100 rupees

## Dynamically typed language

In [ ]:
runs : float = 60
print(isinstance(runs, float))
print(type(runs))

False
<class 'int'>

In [6]:
def add(a : int, b: int) -> int:
    print(a + b)

add(1,'2')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## loops

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1,5):
    print(i)

1
2
3
4

In [ ]:
for i in range(1,5,2):
    print(i)

1
3

In [ ]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [ ]:
for i in fruits_list:
    print(i)

apple
banana
cherry
cherry
1

In [ ]:
for i in fruits_dict:
    print(i)

apple
banana
cherry
1

In [ ]:
for i,j in fruits_dict.items():
    print(i,j)

apple 1
banana 2
cherry 4
1 5

In [7]:
inputs = [1, 2, 3, 4, 5]
outputs = [10, 20 , 30, 40, 50]
for i,j in zip(inputs, outputs):
    print(i,j)

1 10
2 20
3 30
4 40
5 50

In [ ]:
for idx, i in enumerate(fruits_list):
    print(idx, i)

0 apple
1 banana
2 cherry
3 cherry
4 1